{% extends "base.html" %}
{% load humanize %}

{% block contents %}
{% include "nav.html" %}

{% if not request.session.user %}
<script type="text/javascript">
    function button_click() {
        alert("로그인 해야합니다.");
    }
</script>
{% endif %}

<script>
    var test;
    $(document).ready(function () {
        var $cnts = $('.cnt');
        $cnts.change(function () {
            console.log($cnts.eq(0).val());
            test = $cnts.eq(0).val();
        });
    });
</script>

<script>
    function cart(id) {
        $.ajax({
            // url: "{% url 'shopping_add' %}?product_id=" + id,// + "&test=" + 2,
            url: "{% url 'shopping_add' %}?product_id=" + id + "&test=" + test,
            type: "get",
            success:function(result){
                $('#result').text(result['msg']);
            }
        });
    }
</script>


<div class="row mt-5">
    <div class="col-12">
        <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><img src="/{{ product.image }}" width="300" height="300"></li>
            {% if product.stock %}
            <li class="list-group-item">
                <form method="POST" action="/order/create">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% ifnotequal field.name 'product' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% endifnotequal %}
                        <input type="{{ field.field.widget.input_type }}" class="cnt form-control" id="{{ field.id_for_label }}"
                        placeholder="{{ field.label }}" name="{{ field.name }}"
                        value="{% ifequal field.name 'product' %}{{product.id}}{% endifequal %}" />
                    </div>
                    {% if field.errors %}
                    <span style="color: red">{{ field.errors }}</span>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary" onclick="button_click();">주문하기</button>
                <a id="test" class="btn btn-primary" onclick="cart( {{product.id}} );">
                    장바구니
                </a>
                </form>
            </li>
            {% else %}
            <li class="list-group-item"><b>재고가 없습니다.</b></li>
            {% endif %}
            <li class="list-group-item">가격: {{ product.price|intcomma }} 원</li>
            <li class="list-group-item">등록날짜: {{ product.register_date|date:'Y-m-d H:i' }}</li>
            <li class="list-group-item">재고: {{ product.stock|intcomma }} 개</li>
            <li class="list-group-item">{{ product.description|safe }}</li>
        </ul>
    </div>
</div>
{% endblock %}